@model EmpDepartmentList

<form method="post" asp-controller="employee" asp-action="SaveAdd" class="form-control form">
    <div class="mb-3">
        <label for="Name" class="form-label">Department Name</label>
        <input name="Name" id="Name" value="@Model?.Name" type="text" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="Address" class="form-label">Address</label>
        <input name="Address" id="Address" value="@Model?.Address" type="text" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="ImageURL" class="form-label">ImageURL</label>
        <input name="ImageURL" id="ImageURL" value="@Model?.ImageURL" type="text" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="Salary" class="form-label">Salary</label>
        <input name="Salary" id="Salary" value="@Model?.Salary" type="text" class="form-control" />
    </div>
     <div class="mb-3">
        <label for="JobTitle" class="form-label">JobTitle</label>
     <input name="JobTitle" id="JobTitle" value="@Model?.JobTitle" type="text" class="form-control" />
 </div>
    <label>DepartmentId</label>
    @*<input type="text" value="@Model?.DepartmentId" name="DepartmentId" id="DepartmentId" class="form-control form" />*@

    <select type="text" name="DepartmentId" id="DepartmentId" class="form-control form">
        @foreach (var item in Model.Departments)
        {
            if (Model.DepartmentId == item.Id)
            {
                <option value="@item.Id" selected>@item.Name</option>

            }
            else
            {
                <option value="@item.Id">@item.Name</option>

            }
        }
    </select>


    <div class="d-flex justify-content-between mt-4">
        <a href="@Url.Action("Index", "Department")" class="btn btn-secondary">Back to List</a>
        <input type="submit" value="Submit" class="btn btn-danger" />
    </div>

</form>

